<h1>Bitcoin Explorer</h1>
<p>Bitcoin Explorer is a sample application for the Bitcoin Node.js client library <a href="https://github.com/justmoon/node-bitcoin-p2p">node-bitcoin-p2p</a>. It is modeled after the popular <a href="http://blockexplorer.com/">Block Explorer</a> website by theymos.</p>
<h2>Latest Blocks</h2>
<table>
  <thead>
	<tr>
	  <td>Number</td>
	  <td>Time</td>
    <td>Transactions</td>
    <td>Output Value</td>
	  <td>Size</td>
	</tr>
  </thead>
  <tbody>
	<% latestBlocks.forEach(function (block) { %>
    <% var date = new Date(block.time*1000); %>
		<tr>
		  <td><a href="block/<%=block.hash%>"><%=block.height-1%></a></td>
		  <td class="timeago" title="<%=date.toISOString()%>"><%=date.toUTCString()%></td>
      <td><%=block.txCount%></td>
      <td><%=block.totalOut%></td>
		  <td><%=block.size%></td>
		</tr>
	<% }); %>
  </tbody>
</table>
