<h1>Transaction</h1>
<dl class="props">
  <dt>Hash</dt>
  <dd><span class="mono"><%=tx.hash%></span></dd>
  <dt>Block</dt>
  <dd><a href="../../block/<%=block.hash%>"><%=block.height-1%></a> (<%=new Date(block.time*1000).toUTCString()%>)</dd>
  <dt>Inputs #</dt>
  <dd><%=tx.in.length%></dd>
  <dt>Total (in)</dt>
  <dd><%=tx.totalIn%> BTC</dd></dd>
  <dt>Outputs #</dt>
  <dd><%=tx.out.length%></dd>
  <dt>Total (out)</dt>
  <dd><%=tx.totalOut%> BTC</dd>
  <dt>Size</dt>
  <dd><%=tx.size%> bytes</dd>
</dl>
<h2>Inputs</h2>
<table>
  <thead>
	<tr>
	  <td>Previous output (index)</td>
	  <td>Amount</td>
	  <td>From address</td>
	  <td>Type</td>
	  <td>Script</td>
	</tr>
  </thead>
  <tbody>
	<% tx.in.forEach(function (txin) { %>
		<tr>
		  <% if (txin.coinbase) { %>
			  <td>N/A</td>
			  <td>50 + fees</td>
			  <td>N/A</td>
			  <td>Generation</td>
        <td><span class="mono"><%=txin.coinbase%></span></td>
		  <% } else { %>
			  <td><a class="mono" href="../../tx/<%=txin.prev_out.hash%>"><%=txin.prev_out.hash.substr(0, 10)%>&hellip;</a> (<%=txin.prev_out.n%>)</td>
			  <td><%=txin.value%></td>
			  <td><a href="../../address/<%=txin.sourceAddr%>"><%=txin.sourceAddr%></a></td>
			  <td><%=txin.type%></td>
        <td><span class="mono"><%=txin.scriptSig%></span></td>
		  <% } %>
		</tr>
    <% }); %>
  </tbody>
</table>
<h2>Outputs</h2>
<table>
  <thead>
	<tr>
	  <td>Index</td>
	  <td>Amount</td>
	  <td>To address</td>
	  <td>Type</td>
	  <td>Script</td>
	</tr>
  </thead>
  <tbody>
	<% tx.out.forEach(function (txout, i) { %>
		<tr>
		  <td><%=i%></td>
	      <td><%=txout.value%></td>
	      <td><a href="../../address/<%=txout.toAddr%>"><%=txout.toAddr%></a></td>
		  <td><%=txout.type%></td>
	      <td><span class="mono"><%=txout.scriptPubKey%></span></td>
		</tr>
    <% }); %>
  </tbody>
</table>
